
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kakao JavaScript SDK</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('31a3b83b7762d9d25fa748754211912a'); // 고정 값
        // SDK 초기화 여부를 판단합니다.
        console.log(Kakao.isInitialized());
    </script>
</head>
<body>
  <a id="custom-login-btn" href="javascript:loginWithKakao()">
    <img
      src="//k.kakaocdn.net/14/dn/btqCn0WEmI3/nijroPfbpCa4at5EIsjyf0/o.jpg"
      width="222"
    />
  </a>
  <p id="token-result"></p>
  <script type="text/javascript">
    function loginWithKakao() {
      Kakao.Auth.authorize({
        redirectUri: 'http://localhost:80/v1/login'
      })
    }
    getAccessTokenByKakao()
    function getAccessTokenByKakao(){
      const url = new URL(window.location.href)
      const urlParams = url.searchParams;
      const AUTHORIZE_CODE = urlParams.get('code')
      var ACCESS_TOKEN

      if (AUTHORIZE_CODE) {
      // POST request using fetch()
        fetch('https://kauth.kakao.com/oauth/token', {
          method: 'POST',

          body: new URLSearchParams({
            grant_type: 'authorization_code', // 고정 값
            client_id: 'ccf7ea179d5cf10fe1feb1135b81c3d4', // 고정 값
            redirect_uri: 'http://localhost:80/v1/login',
            code: AUTHORIZE_CODE,
          }).toString(),

          // Adding headers to the request
          headers: {
            'Content-type': 'application/x-www-form-urlencoded;charset=utf-8',
          },
        })
          .then((response) => response.json())
          .then((json) => {
            console.log(json);
            ACCESS_TOKEN = json.access_token
            console.log(ACCESS_TOKEN)
            Kakao.Auth.setAccessToken(ACCESS_TOKEN);
            // 로그인 성공시, API를 호출합니다.
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function(res) {
                        console.log(res); // response 에 뭐있는지 궁금하시면 보심 됩니당

                        var userEmail = res.kakao_account.email;   //유저의 이메일
                        // console.log(userID);
                        console.log(userEmail);
                    },
                    fail: function(error) {
                        console.log(JSON.stringify(error));
                    } 
                });
          });
      }
      //console.log(ACCESS_TOKEN)
    }
  </script>
</body>
</html>

